* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #274646;
    color: #fff;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
}

.navbar nav a {
    color: #ccc;
    margin: 0 15px;
    text-decoration: none;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #ff6b4a;
}

.btn {
    background: #e74622;
    border: none;
    padding: 10px 20px;
    color: white;
    border-radius: 20px;
    cursor: pointer;
}

.btn.outline {
    background: transparent;
    border: 1px solid #ff6b4a;
}

/* ABOUT */
.about {
    padding: 80px 60px;
}

.about-container {
    display: flex;
    align-items: center;
    gap: 60px;
}

.profile img {
    width: 260px;
    border-radius: 50%;
    border: 6px solid #ff6b4a;
}

.about-text h4 {
    color: #ff6b4a;
    margin-bottom: 10px;
}

.about-text h1 {
    margin-bottom: 20px;
}

.about-text p {
    color: #ccc;
    margin-bottom: 20px;
}

.info p {
    margin-bottom: 6px;
}

/* SKILLS */
.skills {
    padding: 60px;
    text-align: center;

}
.skills h2{
    background-color: #e74622;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 20px;
}

.skill-grid {
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 30px;
}

.skill {
    background: #7689e0;
    padding: 20px;
    border-radius: 20px;
    
}
.skill img {
    width: 30px;
    margin-top: 20px;
    
}

/* Langusge */
.Language {
    padding: 60px;
    text-align: center;
}
.Language h2{
    background-color: #e74622;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 20px;
}

.Language-man {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 30px;
}

.card {
    background: #96a5e8;
    padding: 30px;
    border-radius: 12px;
}

/* TESTIMONIAL */
.testimonials {
    padding: 60px;
    text-align: center;
}
.testimonials h2{
    background-color: #e74622;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 20px;
}

.testimonial-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 30px;
}

.testimonial {
    background: #102a9c;
    padding: 25px;
    border-radius: 12px;
}